{% extends 'base.html' %}

{% block title %}
<title>Kapcsolat válasz</title>  
{% endblock title %}

{% block tartalom %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Köszönjük, hogy felvetted velünk a kapcsolatot!</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Kedves {{ nev }} megkaptuk az üzenetedet a(z) {{ tema }} témában!
              Hamarosan válaszolunk rá!
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form action="{% url 'fooldal'%}">
                <input type="submit", value= "Vissza a főoldalra!", class="btn btn-outline-primary btn-lg px-4">
            </form>
          </div>
        </div>
      </div>
{% endblock tartalom %}
