{% extends 'base.html' %}

{% block title %}
<title>Activities</title>  
{% endblock title %}

{% block content %}

<table class="table">
    <tbody>
        {% for action in actions %}

            {% if action.done %}
                <div align="center">
                    <div class="card border-success w-50 mb-3">
                        <div class="card-header bg-success text-white">
                            Action with ID {{ action.id }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> {{ action.whatdo }} </h5>
                            <hr width = '50%'>
                            <p class="card-text">Created by {{ action.surname }} {{ action.lastname }}</p>
                            <p class="card-text">Created {{ action.created }}</p>
                            <p>Deadline {{ action.deadline }} </p>
                            <a href="#" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% else %}  
                <div align="center">
                    <div class="card border-danger w-50 mb-3">
                        <div class="card-header bg-danger text-white">
                            Action with ID {{ action.id }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> {{ action.whatdo }} </h5>
                            <hr width = '50%'>
                            <p class="card-text">Created by {{ action.surname }} {{ action.lastname }}</p>
                            <p class="card-text">Created {{ action.created }}</p>
                            <p>Deadline {{ action.deadline }} </p>
                            <a href="#" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endif %}
          
        {% endfor %}
    </tbody>
</table>
<div align="center">
    <input type="button" class="btn btn-primary" onclick="location.href={% url 'new_activity' %}" value="Add new activity">
</div>

{% endblock content %}
