{% extends 'base.html' %}

{% block title %}
<title>Activities</title>  
{% endblock title %}

{% block content %}
<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Activity</th>
            <th>Done</th>
            <th>Created</th>
            <th>Deadline</th>
        </tr>
    </thead>

    <tbody>
        {% for action in actions %}

            {% if action.done %}
                <tr class="table-success">
                    <td> {{ action.id }} </td>
                    <td> {{ action.surname }} </td>
                    <td> {{ action.lastname }} </td>
                    <td> {{ action.whatdo }} </td>
                    <td> Done </td>
                    <td> {{ action.created }} </td>
                    <td> {{ action.deadline }} </td>
                </tr>
            {% else %}
                <tr class="table-warning">
                    <td> {{ action.id }} </td>
                    <td> {{ action.surname }} </td>
                    <td> {{ action.lastname }} </td>
                    <td> {{ action.whatdo }} </td>
                    <td> Not done yet </td>
                    <td> {{ action.created }} </td>
                    <td> {{ action.deadline }} </td>
                </tr>
            {% endif %}
          
        {% endfor %}
    </tbody>
</table>
<div align="center">
    <input type="button" class="btn btn-primary" onclick="location.href={% url 'new_activity' %}" value="Add new activity">
</div>

{% endblock content %}
