{% extends 'base.html' %}

{% block title %}
<title>Főoldal</title>  
{% endblock title %}

{% block tartalom %}
<div class="px-4 py-5 my-5 text-center">
    {% load static %} <img class="d-block mx-auto mb-4" src="{% static 'mysite/images/logo.png' %}" alt="" width="300" height="225">
    <h1 class="display-5 fw-bold">Csináld magad!</h1>
    <h1 class="display-5 fw-bold">Ne halaszd holnapra!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Üdv az Atestat vizsgára készült To do list nevű dinamikus weboldalamon!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="location.href={% url 'tennivalok' %}">Tevékenységek</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="location.href={% url 'uj_szemely' %}">Tevékenység hozzáadása</button>
      </div>
    </div>
  </div>
{% endblock %}